@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  --gradient: linear-gradient(
    165deg,
    rgb(254, 255, 254) 0%,
    rgba(224, 230, 229, 0.9) 15%,
    rgb(152, 246, 171) 55%,
    rgba(224, 230, 229, 0.9) 80%,
    rgb(254, 255, 254) 100%
  );
  --gradient2: linear-gradient(
    165deg,
    rgb(152, 246, 171) 0%,
    rgba(233, 232, 232, 0.818) 15%,
    rgb(254, 255, 254) 55%,
    rgba(244, 242, 242, 0.843) 80%,
    rgb(152, 246, 171) 100%
  );
}
